.App {
  text-align: center;
  font-family: 'Cute Font', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  color: white;
}

.App-link {
  color: #61dafb;
}

