.foot-section {
    background-color: rgb(241, 201, 163);
    padding: 50px;
    font-size: 80%;
    
}




.foot-section p {
    color: white;
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-family: 'Cute font';
    font-size: 25px;
}
